
:root {
    --headerHeight: 50px;
    --mainHeight: calc(100vh - (var(--headerHeight)) - (var(--footerHeight)));
    --toolbarHeight: 100px;
    --footerHeight: 20px;
}


* {
    /* border: 1px solid black; */
    /* margin: 10px;
    padding: 10px; */

}

:host {
    display: flex;
    flex-direction: column;
    
}

body {
    margin: 0;
}

/* ========================== */
/* HEADER AREA */
/* ========================== */

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #fafafa;
    height: var(--headerHeight);

}

.title-text {
    color: #000000;
    margin: 0 20px;
}

/* ========================== */
/* MAIN PAGE AREA */
/* ========================== */
main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


    height: var(--mainHeight);
    overflow: hidden;

}

.toolbar {
    /* height: var(--toolbarHeight); */
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;

}

form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;


}

.submit-button {
    align-self: center;
}

.control {
    margin: 0 20px;

}

legend {
    text-align: center;
}

.chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 10px;
    background: #fafafa;

}

.canvas {
    border: 2px solid black;
    height: 100%;
    margin: 10px;
    width: 100%;
    background: skyblue;

}

/* ========================== */
/* FOOTER AREA */
/* ========================== */

footer {
    height: var(--footerHeight);
}